<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <strong>Device List</strong>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>

                            <th scope="col">Device ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Status</th>
                            <th scope="col">Location Type</th>
                            <th scope="col">Location</th>
                            <th scope="col">Created At</th>
                            <th scope="col">Updated At</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let device of devices">

                            <td>{{device.deviceId}}</td>
                            <td>{{device.name}}</td>
                            <td>{{device.status}}</td>
                            <td>{{device.locationType}}</td>
                            <td>{{device.location.latitude}}, {{device.location.longitude}}</td>
                            <td>{{device.createdAt}}</td>
                            <td>{{device.updatedAt}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <a class="nav-link" ui-sref="device-create()">Add Device</a>
            </div>
        </div>
    </div>
</div>