<input type="text" class="form-control" id="Name">

</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <h1>Add a new device</h1>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-11">
            <label for="name" class="col-form-label">
              <h5>Name:</h5>
            </label>
            <input ng-model="device.name" class="form-control" type="text" id="Name" placeholder="Device name">
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button ng-click="addDevice()" class="btn btn-success" type="button">
          Add Device</button>
      </div>
    </div>
  </div>
</div>